---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag, size = "sm" } = Astro.props;
---

<li class={`inline-block ${size === "sm" ? "my-1" : "my-3 mx-1"}`}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`tag-pill ${size === "sm" ? "text-xs" : "text-sm"} group`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class={`${size === "sm" ? " scale-75" : "scale-110"}`}
      ><path
        d="M16.018 3.815 15.232 8h-4.966l.716-3.815-1.964-.37L8.232 8H4v2h3.857l-.751 4H3v2h3.731l-.714 3.805 1.965.369L8.766 16h4.966l-.714 3.805 1.965.369.783-4.174H20v-2h-3.859l.751-4H21V8h-3.733l.716-3.815-1.965-.37zM14.106 14H9.141l.751-4h4.966l-.752 4z"
      ></path>
    </svg>
    &nbsp;<span>{tag}</span>
  </a>
</li>

<style>
  .tag-pill {
    @apply relative inline-flex items-center gap-1 rounded-full border border-skin-line bg-skin-fill px-3 py-2 font-semibold uppercase tracking-[0.2em] text-skin-base/70 shadow-[0_10px_20px_rgba(15,23,42,0.08)] transition hover:-translate-y-0.5 hover:border-skin-accent hover:text-skin-accent focus-visible:p-2;
  }
  .tag-pill svg {
    @apply -ml-1 scale-95 text-skin-base opacity-70 group-hover:fill-skin-accent;
  }
</style>
